.navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px 50px;
  background: rgba(30, 41, 59, 0.7);
  backdrop-filter: blur(10px);
  position: sticky;
  top: 0;
}

.navbar ul {
  display: flex;
  gap: 20px;
  list-style: none;
}

.navbar a {
  text-decoration: none;
  color: white;
}

.navbar a:hover {
  color: #38bdf8;
}
