.skills {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.card {
  padding: 20px;
  background: rgba(30, 41, 59, 0.6);
  border-radius: 10px;
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-8px);
}
